body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 a {
    color: rgb(30, 81, 90);
  }
a:hover {
  color: #00AEFF;
}
header{
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(30, 0, 40);
}
header h1 {
  font-size: 3em;
}
header nav ul li {
  display: inline;
}
header nav ul li {
  font-size: 1.5em;
}
.clear {
  clear:both;
}
#projectcontainer, #aboutme, #Teachable-Machine {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}
.project {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(30, 0, 40);
}
.project img, #aboutme img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
.project h2, #aboutme h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}